@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

.titulo{
    font-family:'Lobster', cursive;
    font: green;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    border: dotted;
    border-width: 10px 4px;
    border-radius: 10px 40px;
    margin-left: 35%;
    margin-right: 35%;
}
.parrafo{
    text-align: center ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:lighter;
    border: double;
    border-width: 5px 3px;
    border-radius: 64px 12px;
    margin-left: 15%;
    margin-right: 15%;
}
