@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lobster&display=swap');
.titulo{
    font-family: 'Caveat', cursive;
    color: green;
}
.parrafo{
    font-family: 'Lobster', cursive;
}
